[color]
	branch = auto
	diff = auto
	interactive = auto
	pager = true
	status = auto
  ui = auto
[user]
	name = SSep
	email = ssep4u@gmail.com
[github]
	token = e984284d94ba1dddfffd8d22082f3511
[core]
	excludesfile = /Users/SSep/.gitignore_global
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path =
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[filter "media"]
	required = true
	clean = git media clean %f
	smudge = git media smudge %f
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
